body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  color: black;
}
h1,
h1,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background: url(../img/header-bg.jpg) no-repeat center top / cover;
  padding-top: 57px;
  color: #fff;
}

.header a {
  color: #fff;
}
.menu {
  display: flex;
}
.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.menu li {
  margin-right: 40px;
}
.tel {
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  letter-spacing: 0.1em;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 69px;
}
.offer {
  padding-bottom: 322px;
}
.offer p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 30px;
  margin-top: 216px;
}
.offer a {
  text-decoration: none;
}
.offer h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 19px;
  margin-top: -9px;
}
.btn {
  display: block;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 17px 47px;
  width: 238px;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #fff;
  color: #000;
}

section {
  padding-top: 113px;
}
.description {
  display: flex;
  justify-content: space-between;
}

.description p {
  font-family: "Open Sans";
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.desc-left,
.desc-right {
  width: 567px;
}
.gallery {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-size: 15px;
  font-family: "Open Sans" sans-serif;
  display: flex;
  padding: 114px 0;
}
.footer-text p {
  font-family: "Open Sans" !important;
  margin-right: 67px;
  font-size: 14px;
}
